@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.tab-inner {
  position: relative;
  width: 300px;
  height: 350px;
}
input[name="tabmenu"] {
  display: none;
}
.content {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.btn {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.btn label {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

input[id="tab1"]:checked ~ .slide1 {
  display: block;
}
input[id="tab2"]:checked ~ .slide2 {
  display: block;
}
input[id="tab3"]:checked ~ .slide3 {
  display: block;
}

input[id="tab1"]:checked ~ .slide1,
input[id="tab2"]:checked ~ .slide2,
input[id="tab3"]:checked ~ .slide3 {
  opacity: 1;
  visibility: visible;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: crimson;
}
