body {
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  list-style: none;
}
.loading {
  position: relative;
  width: 50px;
  height: 50px;
}
.loading span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: gray;
  animation: loading 1s infinite;
}
.loading span:nth-child(1) {
}
.loading span:nth-child(2) {
  animation-delay: 0.5s;
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
    background-color: coral;
  }
  25% {
    top: 0;
    left: calc(100% - 15px);
    background-color: yellowgreen;
  }
  50% {
    top: calc(100% - 15px);
    left: calc(100% - 15px);
    background-color: cadetblue;
  }
  75% {
    top: calc(100% - 15px);
    left: 0;
    background-color: pink;
  }
  100% {
    top: 0;
    left: 0;
  }
}
