@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon {
  width: 125px;
  height: 125px;
  margin: 10px;
  position: relative;
}
.icon span {
  background-color: black;
  color: #fff;
  position: absolute;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}
.icon span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  background-color: black;
  bottom: -5px;
}

.icon:hover span {
  opacity: 1;
  visibility: visible;
}
