@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesomemin.css");

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}

.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  box-sizing: 0 20px 50px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item {
}
.item p {
  overflow: hidden;
  margin-bottom: 0;
}
.item p span:nth-child(1) {
  float: left;
}
.item p span:nth-child(2) {
  float: right;
}
.progress {
  border: 1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(90deg, crimson, gold);
  animation: ani 1s;
}

@keyframes ani {
  0% {
    width: 0;
  }
}
